################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Release/
obj/
bin/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.vspscc
*.vssscc
.vscode/
*.vc.vc.opendb
/packages
/Aplicativos/Phidelis.Repositorio.Dapper/packages
/Aplicativos/WebAPI.Jwt/packages
/Aplicativos/Phidelis.CardPayment/packages
/Aplicativos/Phidelis.Integracao.HubSpot/packages/Newtonsoft.Json.11.0.2
